---
title: "Declaratively Describing Responses\n of Hypermedia-Driven Web APIs"
---
<header markdown="1">
<h1><%= h(@item[:title]).gsub(/\n/, '<br>') %></h1>
<div id="repeating-title"><%= @item[:title] %></div>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec

<section class="actions" markdown="block">
## Notifications and annotations
- [notification inbox](https://linkedresearch.org/inbox/linkeddatafragments.github.io/Article-Declarative-Hypermedia-Responses/){:rel="ldp:inbox"}
- [annotation service](https://linkedresearch.org/annotation/linkeddatafragments.github.io/Article-Declarative-Hypermedia-Responses/){:rel="oa:annotationService"}
</section>

<section class="context" markdown="block">
## In reply to
- [Call for Linked Research](https://linkedresearch.org/calls){:rel="as:inReplyTo"}
- [K-CAP 2017 call for short papers](http://k-cap2017.org/call-for-papers/){:rel="as:inReplyTo"}
</section>

</header>

<div id="content">
  <%= section 'abstract' %>

<main>
  <%= section 'introduction'  %>
  <%= section 'related-work'  %>
  <%= section 'comparison-model'  %>
  <%= section 'approaches'  %>
  <%= section 'discussion'  %>
  <%= section 'conclusions'  %>
</main>

<footer>
  <%= section 'acknowledgements'  %>
</footer>

</div>
